
.detailed_result {
	position: fixed;
	display: none;
	background-color: #fff;
	border: 2px solid #114400;
	border-top-width: 6px;
	padding: 6px;
	word-wrap: break-word;
	overflow: auto;
	left: 850px;
	top: 0;
	max-height: 100%;
	z-index: 20;
}

.notif_box {
	position: fixed;
	padding: 5px;
	top: 0;
	left: 850px;
	max-width: 300px;
	max-height: 95%;
	border: 1px solid black;
	overflow-y: scroll;
	display: none;
	z-index: 5;
}
