
.detailed_result {
	position: fixed;
	display: none;
	background-color: #fff;
	border: 1px solid #114400;
	padding: 5px;
	word-wrap: break-word;
	overflow: auto;
	left: 850px;
	top: 0;
	max-height: 98%;
	z-index: 20;
	border-radius: 5px;
}

.notif_box {
	position: fixed;
	padding: 5px;
	top: 0;
	left: 850px;
	max-width: 300px;
	max-height: 98%;
	border: 1px solid black;
	overflow-y: scroll;
	display: none;
	z-index: 5;
}

.fs_layer {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: white; //#2f3129;
	z-index: 30;
	left: 0;
	top: 0;
	//color: white;
	display: none;
	margin: 0;
	padding: 0;
}

.diff_layer, .system_logs_layer, .details_layer {
	height: 100%;
	margin: 0;
	padding: 0;
}

.diff_diff {
	font-family: monospace, "Courier New", Courier;
	font-size: 0.9em;
	max-height: 90%;
}

.diff_diff table {
	border-spacing: 0;
	border: 1px solid #cccccc;
	margin-top: 10px;
}

/*
* information in diff_layer
*/
.diff_info {
	padding: 0.4em 1em;
}

.diff_plus {
	background-color: #ddffdd;
}

.diff_minus {
	background-color: #ffdddd;
}

.diff_line {
	
}

.diff_ln, .details_ln {
	text-align: right;
	border-right: 1px solid #cccccc;
}

table .diff_head {
	border-bottom: 1px solid #cccccc;
}

/*
* general floating message
*/
#f_message {
	position: fixed;
	top: 64px;
	left: 840px;
	width: 300px;
	display: none;
	z-index: 100;
}

#settings_dialog {
	display: none;
}

.settings_dialog {
	font-size: 0.7em;
}

.settings_dialog table,  .settings_dialog tr{
	border: 1px solid #cccccc;
	border-collapse: collapse;
}
.settings_dialog td
{
	border: 1px solid #cccccc;
	padding: 4px;
}

.test_stats_table table,  .test_stats_table tr{
	border: 1px solid #cccccc;
	border-collapse: collapse;
}
.test_stats_table td
{
	border: 1px solid #cccccc;
}

#subbmission_dialog{
	display: none;
}

.log_table_line
{
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}

.log_table_separator
{
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.details_layer {
	word-wrap: break-word;
	font-size: 0.8em;
}

.details_action {
	/*padding: 0!important;*/
}

.details_info {
	padding: 0.2em 1em;
	font-size: 1.2em;
	margin-top: 10px;
}

.test_content ul {
	float: none!important;
	
}

.test_content {
	/*height: 100%;*/
	border: 1px solid #cccccc!important;
	padding-bottom: 0!important; 
}

.test_li a {
	padding-left: 0.5em!important;
}

#details_tests {
	overflow-y: scroll!important;
}

.wrap {
	/*word-wrap: break-word;*/
	max-width: 500px;
}

.details_summary_table, .details_summary_table td, .details_summary_table tr
{
	border-spacing: 0;
	border: 1px solid #cccccc;
	border-collapse: collapse;
	padding: 4px;
	table-layout: fixed;
}

.details_summary_table ul
{
	margin: 5px;
}

.details_ajax_data
{
	font-size: 1.2em;
	margin-top: 15px;
	overflow: none;
	
}

.details_file_wrapper
{
	overflow-y: 0;
	overflow-x: auto;
	border: 1px solid #cccccc;
	padding: 0;
	width: 100%;
}

#details_sources .details_file_wrapper
{
	font-size: 1.2em;
	height: 100%;
	overflow: auto;
}

#details_misc .details_file_wrapper
{
	font-size: 1.2em;
}

#details_sources
{
	overflow-y: scroll!important;
}

.details_ajax_data table {

	border-collapse: collapse;
	
}

.details_ajax_data td {
	padding: 5px;
}

.details_file_heading {
	border-bottom: 1px solid #cccccc;
	font-weight: normal;
	padding: 5px;
}

.details_file_info {
	padding: 0.4em 1em;
	width: 400px;
}

.signals {
	padding: 0;
	margin: 8px 1px 6px 1px;
	float: left;
	margin-left: 8px;
}

.square {
	margin-left: 4px;
	width: 12px;
	height: 12px;
	float: left;
}

/* vertical tabs */

.ui-tabs-vertical {  }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em 0em 0em 0em!important; float: left; }
.ui-tabs-vertical .ui-tabs-nav .test_li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; }
.ui-tabs-vertical .ui-tabs-nav .test_li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav .test_li.ui-tabs-active { margin-bottom: 0!important; padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; }

.loading {
	display:    none;
	position:   fixed;
	z-index:    1000;
	top:        0;
	left:       0;
	height:     100%;
	width:      100%;
	background: rgba( 255, 255, 255, .8 ) 
		    url('images/ajax-loader.gif') 
		    50% 50% 
		    no-repeat;
}

.run_table {

}

.run_table td {
	border: 1px solid gray;
	
}

.run_output {
	padding: 10px;
}
  
.run_files_scroll{
    max-height: 400px;
    overflow-y: scroll;
    padding-right: 15px;
}

.run_file{
    word-wrap: nowrap;
}

.show_in_details {
    cursor: pointer;
}

.show_in_details:hover {
    color: brown;
}
