/* 
    Document   : editor.css
    Created on : May 29, 2013, 11:13:32 AM
    Author     : xmiklos
    
*/

#editor { 
        position: absolute;
        top: 22px;
        right: 0;
        bottom: 0;
        left: 0;
        /*height: 90%;*/
    }
    .editor_save{
        /*position: absolute;
        z-index: 10;
        right: 30px;
        top: 0;*/
        margin: 0;
    }
    
    body{
        margin: 0;
        padding: 0;
    }
    
.loading {
	display:    none;
	position:   fixed;
	z-index:    1000;
	top:        0;
	left:       0;
	height:     100%;
	width:      100%;
	background: rgba( 255, 255, 255, .8 ) 
		    url('images/ajax-loader.gif') 
		    50% 50% 
		    no-repeat;
}